<launch>
    <node pkg="GYUS42" type="GYUS42_node" name="ultrasonic_gyus42" output="screen">
        <param name="/pub_topic_name" type="string" value="/ultrasonic_data"/>
        <param name="/pub_mag_topic_name" type="string" value="/ultrasonic_mag"/>
        <param name="/serial_device" type="string" value="/dev/ultrasonic_radar"/>
        <param name="/loop_rate" type="int" value="500000"/>
        <param name="/baud_rate" type="int" value="9600"/>
    </node>
    
	<!--
	<arg name="rviz_transfer_mp4" default = "$(find transfer_rosbag_mp4)/config/transfer_mp4_inshow.rviz"/>>
	<node pkg="rviz" type="rviz" name="transfer" args="-d $(find transfer_rosbag_mp4)/config/transfer_mp4_inshow.rviz" />>
	-->
</launch>